@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Pacifico&display=swap');

:root {
    --primary-color: #349b48;
    --primary-color-hover: rgba(65, 219, 96, 0.827);
    --primary-color-title: #236430d3;
    --secondary-color: #eef6e8;
    --text-color: #363636;
    --background-color: #eaeaea;
    --accent-color: #eaeaea;
    --hero-text-shadow: rgba(0, 0, 0, 0.5);
    --blockquote-border: #276734;

    --body-font: "Arimo", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color-title);
}

h2, h3, h4, h5, h6 {
    color: var(--primary-color-title);
}

header {
    margin: 0;
    top: 0;
    display: flex;
    position: fixed;
    width: 100%;
    height: 10vh;
    background: rgb(9,36,0);
    background: linear-gradient(90deg, rgba(9,36,0,1) 0%, rgba(26,121,9,1) 35%, rgba(51,199,0,1) 100%);
    padding: .5rem 1.25rem;
    font-family: var(--body-font);
    justify-content: space-around;
    color: var(--accent-color);
    z-index: 1000;
}

.logo {
    display: flex;
}

.logo img {
    width: 5rem;
}

.logo h1 {
    color: #349b48;
    text-shadow: 1.5px 1.5px 1.5px var(--primary-color-hover);
    font-size: 2.5em;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color-title);
}

ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li a {
    margin-left: 1.5rem;
    color: rgb(244, 251, 244);
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
    height: 9vh;
}

nav ul li a:hover {
    background-color: var(--primary-color-hover);
    border-radius: 5px;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}

.footer-container {
    display: flex;
    
    margin: 0;
    bottom: 0;
    width: 100%;
    background: rgb(9,36,0);
    background: linear-gradient(90deg, rgba(9,36,0,1) 0%, rgba(26,121,9,1) 35%, rgba(51,199,0,1) 100%);
    color: rgb(244, 251, 244);
    text-align: center;
    padding: 1.25rem 0;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: var(--secondary-color);
}

footer a:hover {
    text-decoration: underline;
}

.hero {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px var(--hero-text-shadow);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 20px;
    text-shadow: 1px 1px 3px var(--hero-text-shadow);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.hero.scrolled h1, .hero.scrolled p {
    transform: translateY(-20px); 
    opacity: 0.7;
}

main {
    padding: 40px 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    height: 40rem;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
}

.ods-item {
    min-width: 100%;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ods-item img {
    width: 100px;
    height: 100px;
}

.carousel-nav {
    position: absolute;
    top: 25%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev-btn, .next-btn {
    background-color: var(--primary-color);
    border: none;
    color: white;
    width: 5rem;
    height: 2rem;
    padding: 5px;
    cursor: pointer;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    border-radius: 12px;
    margin-top: 5px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: var(--primary-color-hover);
}

blockquote {
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid var(--blockquote-border);
    font-style: italic;
}

blockquote p {
    margin: 0;
}

.services-section, .sustainability-section, .research-section {
    background-color: var(--accent-color);
    padding: 40px 20px;
    margin: 20px 0;
    border-radius: 10px;
}

section h2 {
    color: var(--primary-color);
}

.service-item {
    margin-bottom: 20px;
}

.sustainability-section p, .research-section p {
    margin-bottom: 20px;
}

.hero-contacto {
    width: 100%;
    height: 50rem;
    top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
    
}

.hero-contacto img {
    width: 100%;
    display: flex;
    width: auto;
    margin-top: 15%;
    height: 70%;
    border-radius: 16px;
}

.hero-contacto h1 {
    font-size: 2em;
}

.hero-contacto p {
    font-size: 1em;
    margin-bottom: 1.25rem;
}

.hero-text{
    margin-top:15%;
}

.contacto {
    display: flex;
    flex-flow: row;
    justify-items: center;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1.25rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index:1;
}

form label {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    width: 5rem;
    height: 2rem;
    padding: 5px;
    cursor: pointer;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    border-radius: 12px;
    margin-top: 5px;
}

form button:hover {
    background-color: var(--primary-color-hover);
}

/* Media Queries */
@media (max-width: 768px) {
    #menu-toggle:checked + .hamburger + nav ul {
        display: flex;
    }

    .hamburger {
        display: flex;
        justify-content: center;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100%;
        background-color: rgba(18, 70, 0, 0.862);
        display: none;
        padding: 0;
    }

    nav ul li {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    nav ul li a {
        display: block;
        padding: 1rem;
        width: 100%;
    }

    
    .hero {
        height: 60vh;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    form {
        width: 90%; 
    }

    form button {
        width: 100%; 
    }
}

